asgiref==3.4.1
backports.entry-points-selectable==1.1.0
certifi==2021.10.8
charset-normalizer==2.0.7
distlib==0.3.3
dj-database-url==0.5.0
Django==3.2.9
django-cors-headers==3.2.1
django-heroku==0.3.1
django-js-asset==1.2.2
djangorestframework==3.11.2
filelock==3.3.2
idna==3.3
Pillow==8.4.0
pipenv==2021.11.15
platformdirs==2.4.0
psycopg2==2.9.2
PyJWT==1.7.1
pytz==2019.3
pywin32==302
six==1.16.0
sqlparse==0.4.1
traitlets==5.1.1
urllib3==1.26.6
virtualenv==20.10.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
whitenoise==5.3.0
